### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini


### EDITORS ###
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/
*.sublime-workspace


### ENVIRONMENT ###
.env
.env.local
.env.*.local


### LOCAL ###
node_modules
.local_node_modules
